@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@font-face {
  font-family: 'futura-book';
  src: url('../fonts/futura-book.ttf');
}
@font-face {
  font-family: 'futura-heavy';
  src: url('../fonts/futura-heavy.ttf');
}
@font-face {
  font-family: 'futura-oblique';
  src: url('../fonts/futura-oblique.ttf');
}
@font-face {
  font-family: 'futura-heavyoblique';
  src: url('../fonts/futura-heavyoblique.ttf');
}
@font-face {
  font-family: 'futura';
  src: url('../fonts/futura.ttf');
}

* {
	box-sizing: content-box;
}

#mouse{
position:absolute;
z-index: 1000;
}

@media (max-width: 992px){
  #mouse{
    display: none;
  }
}

/*Komischer Bug Fix*/
ul{
  -webkit-padding-start: 0px;
}

html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

#body {
	/*
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: 700;*/
  	/*background-image: url(img/back.jpg);*/

	font-family: 'futura-book';
  background-image: url("../img/pattern2.png");
  background-repeat: repeat;
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  cursor: url(img/sticker.png);

}

.wrapper{
  min-height: 100%;
	background-image: url("../img/back_pattern1.png");
  background-repeat: repeat;
  background-color: #cccccc;
  margin-top: 15px !important;
}

@media (max-width: 575px){
  .wrapper {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px){
.container {
    max-width: 1440px !important;
  }
}

.break{
  width: 100%
  height: 10px;
  border-bottom: ridge #A297AA 4px;
}

/************************/
/*    Header            */
/************************/

#top-main-logo{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
}

@media (max-width: 992px){
  #top-main-logo{
    right: 20px;
    left: auto;
  }
}

nav{
  font-size: 1.2em;
  color: purple !important;
}

/************************/
/*    Header-Video      */
/************************/



#myVideo {
    width: 100%; 
    height: 100%;
}

/************************/
/*    Intro              */
/************************/

.intro{
  text-align: center;
}

/************************/
/*    Links             */
/************************/

.links h1 {
  text-align: center;
}

.links img {
  width: 100%;
}

/************************/
/*    Concerts          */
/************************/

.concerts {
  font-size: 1.2em;
}

.concerts h1 {
  text-align: center;
}

.concerts .table div{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.concerts .table p:first-child {
  float: left;
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  font-family: 'futura-heavyoblique';
}

.concerts .table p:nth-child(2) {
  float: left;
  font-size: 1em;
  margin: 0;
  margin-bottom: 3px;
  width: 630px;
}

.concerts .table a {
  float: right;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  font-family: 'futura';
  margin-bottom: 0px;
}

@media (max-width: 768px) { 
  .concerts .table div{
    text-align: center;
  }
  .concerts .table a {
    text-align: center;
    float: none !important;
  }
  .concerts .table div{
    height: 140px;
  }
  .concerts .table div{
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

@media (max-width: 1200px) {
    .concerts .table a {
    float: left;
  }
    .concerts .table p:nth-child(2) {
    width: 100%;
  }
}

/************************/
/*    Music     */
/************************/


.player {
  color: white;
  background: linear-gradient(#404042, #181819);
  border-radius: 15px;
}

.music img {
  margin-top: 70px;
  display: block;
  width: 300px;
}

/************************/
/*    Youtube-Video     */
/************************/

.youtube-video{
  padding-bottom: 50px;
}

/************************/
/*    Footer            */
/************************/

.footer {
  border-top: ridge #A297AA 4px;
  padding: 25px 0px;
  background-color: lightgrey;
  margin: 0rem 3rem;
}

.contact p{
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: black !important;
}

.footer a:visited {
  color: black !important;
}

.footer a:hover {
  color: black !important;
}

/************************/
/*    Ads               */
/************************/

.ad{
}

#ad1 {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 200px;
}

#ad2 {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 200px;
}

/*Hide adds on smaller screen*/
@media (max-width: 1880px){
  .ad{
    display: none;
  }
}

/************************/
/*    Animations        */
/************************/

.rotate{
  -webkit-animation: rotation 3s infinite linear forwards;

}

.pause{
  animation-play-state: paused;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

