* {
	box-sizing: content-box;
}

body {
	font-family: Helvetica, Arial;
  	background: url(img/back1.png) repeat center center;
  	padding: 10px;
}

.content {
	float: left;
}

/************************/
/*		Side-Bar		*/
/************************/

#internet {
	display: none;
}

.side-bar {
	position: relative;
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 8px;
}

@media only screen and (min-width: 768px) {
	.side-bar {
		width: 300px;
	}
}

@media only screen and (max-width: 1492px) {
	.content {
		width: 100%;
	}
    .side-bar {
    	float: left;
    	margin-top: 20px;
    }
    #internet {
    	display: block;
    }
}

.side-bar img{
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.side-bar iframe{
	margin-bottom: 20px;
}

/************************/
/*		Header			*/
/************************/

header img {
	height: 100px;
}

nav {
	width: 100%;
	height: 80px;
}

nav ul {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
}

nav ul li {
	float: left;
	height: 50px;
	padding: 0;
	margin-right: 20px;
	text-align: center;
	list-style: none;
}

nav ul li img {
	height: 50px;
}

/************************/
/*		Player			*/
/************************/

.discography-image {
	width: 100%;
}

table {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.discography-image {
		width: 250px;
	}
	table {
		width: auto;
	}
}

/************************/
/*		Videos			*/
/************************/

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 30px;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 768px) {
	.video-wrapper {
		position: static;
		padding: 0;
		height: auto;
	}

	.video {
		position: static;
		width: 560px;
		height: 315px;
	}


}

/************************/
/*		Bilder			*/
/************************/

.bilder {
	width: 100%;
}

.bilder img {
	height: 300px;
}

/************************/
/*		Glitch			*/
/************************/

.glitch {
  height: 100%;
  width: 100%;
  background: url(img/glitch.gif) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************/
/*		Gimmicks			*/
/************************/

.gimmicks-wrapper {
	position: relative;
	height: 100%;
	margin-bottom: 30px;
}

.gimmicks-wrapper p {
	position: relative;
	margin-bottom: 0;
}

.gimmicks-wrapper img {
	position: relative;
	width: 100%;
}


@media only screen and (min-width: 768px) {
	.gimmicks-wrapper {
		position: static;
		padding: 0;
		height: auto;
	}

	.gimmicks-wrapper img {
		position: static;
		width: 560px;
		height: auto;
	}
}

/************************/
/*		Sticker			*/
/************************/

.sticker {
	position: fixed;
	bottom: 20;
	right: 20;
}

.sticker img {
	width: 200px;
}

/************************/
/*		Release			*/
/************************/

.release-content {
  display: block;
    margin: auto;
    width: 50%;
    max-width: 800px;
}

@media only screen and (max-width: 1024px) {
	.release-content {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.release-content {
		width: 90%;
	}
}

.release-content img{
  display: block;
  width: 100%;
  margin: auto;
}

.download-button {
	float: left;
}

.download-button img{
	width: 300px;
}

/************************/
/*		Footer			*/
/************************/

footer{
	width: 100%;
	height: 80px;
}
